#!version:1.0.0.1

account.1.enable = 1
account.1.label = {{extension.name}}
account.1.display_name = {{extension.name}}
account.1.user_name = {{device.id}}
account.1.auth_name = {{device.id}}
account.1.password = {{device.secret}}
account.1.sip_server.1.address = {{server.host}}
account.1.sip_server.1.port = {{server.port}}
