parameters:
	ignoreErrors:
		-
			message: '#^Strict comparison using \!\=\= between non\-empty\-string and null will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: src/AsteriskConfig.php

		-
			message: '#^Negated boolean expression is always false\.$#'
			identifier: booleanNot.alwaysFalse
			count: 1
			path: src/BanSync.php

		-
			message: '#^Method FreePBX\\Modules\\Oryk_Provisioner\\CdrHistory\:\:runUpdate\(\) never assigns null to &\$failed so it can be removed from the by\-ref type\.$#'
			identifier: parameterByRef.unusedType
			count: 1
			path: src/CdrHistory.php

		-
			message: '#^Strict comparison using \!\=\= between non\-falsy\-string and null will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: src/Clients.php

		-
			message: '#^Method FreePBX\\Modules\\Oryk_Provisioner\\Endpoint\:\:banned\(\) never assigns null to &\$trusted so it can be removed from the by\-ref type\.$#'
			identifier: parameterByRef.unusedType
			count: 1
			path: src/Endpoint.php

		-
			message: '#^Parameter \#2 \$callback of function array_filter expects \(callable\(mixed\)\: bool\)\|null, ''strlen'' given\.$#'
			identifier: argument.type
			count: 1
			path: src/ExtensionManager.php

		-
			message: '#^Strict comparison using \=\=\= between string and null will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/ExtensionRenumberer.php

		-
			message: '#^Parameter \#2 \$callback of function array_filter expects \(callable\(string\)\: bool\)\|null, ''strlen'' given\.$#'
			identifier: argument.type
			count: 1
			path: src/Fail2ban.php

		-
			message: '#^Dead catch \- Throwable is never thrown in the try block\.$#'
			identifier: catch.neverThrown
			count: 1
			path: src/Notices.php

		-
			message: '#^Offset decimal\-int\-string&non\-falsy\-string on array\<string, true\> in isset\(\) does not exist\.$#'
			identifier: isset.offset
			count: 1
			path: src/NumberAllocator.php

		-
			message: '#^Strict comparison using \!\=\= between non\-empty\-string and '''' will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: src/Tokens.php

		-
			message: '#^Call to function is_array\(\) with array\<string, mixed\> will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Users.php

		-
			message: '#^Parameter \#2 \$callback of function array_filter expects \(callable\(string\)\: bool\)\|null, ''strlen'' given\.$#'
			identifier: argument.type
			count: 1
			path: src/Users.php
